.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* html {
  background: url("https://i0.wp.com/hyperallergic-newspack.s3.amazonaws.com/uploads/2018/10/Athens-Acropolis-HOME.jpg?fit=1000%2C618&quality=100&ssl=1")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(8px);
} */

@font-face {
  font-family: GreekFont;
  src: url(CapitalisTypOasis.ttf);
}

body,
html,
#root {
  font-family: GreekFont;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

button {
  font-family: GreekFont;
  font-size: 1.5rem;
  background-color: white;
  border: 2px solid black;
  padding: 14px 28px;
  cursor: pointer;
}

input {
  font-family: GreekFont;
  font-size: 1.5rem;
  background-color: white;
  border: 2px solid black;
  padding: 14px 28px;
  max-width: 100%;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
}

button:last-child {
  margin-left: 10px;
}
